.content-container {
  height: 100%;
  width: 100%;
  position: fixed;
  margin: 0;
}

.welcome-container {
  width: 100%;
  text-align: center;
}

button {
  display: block;
  margin: auto;
}

h1 {
  display: block;
}
